/*FIRST TIER*/
#horinav
{
   background-color: hsl(350, 100%, 60%);
}

#horinav ul li
{
   background-color: hsl(350, 100%, 60%);
}

/*SECOND TIER*/
#horinav ul li ul
{
   background-color: hsl(350, 100%, 99%);
}

#horinav ul li ul li
{
   background-color: hsl(350, 100%, 99%);
}  